html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Comfortaa", sans-serif;
}

#map {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
}

.image {
    width: 25%;
    pointer-events: none;
}

#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: #b4cdf8;
    mix-blend-mode: color;
    pointer-events: none;
    user-select: none;
}

#title {
    bottom: 4em;
    pointer-events: none;
    user-select: none;
    padding-left: 1em;
}

.headline {
    font-size: 4em !important;
    line-height: 1 !important;
    margin: 0;
}

.secondary {
    font-size: 1.5em !important;
    line-height: 1 !important;
    margin-top: 0;
}

#description {
    font-size: 1em;
    position: absolute;
    bottom: 0;
    color: #284f9f;
    width: 100%;
    z-index: 3;
    pointer-events: none;
}

#credit {
    padding-left: 1em;
}

#credit a:link {
    color: #284f9f;
}

#credit a:visited {
    color: #284f9f;
}

/* Set media breakpoint for mobile */
@media (min-width: 768px) {
    #map {
    }
}